#gf{
    width: 100%;
    height: 700px;
    background-color: burlywood;
}
#father,#uncle{
    width: 50%;
}
#father{
    height: 91.5%;
    background-color: aqua;
    float: left;
}
#uncle{
    height: 91.5%;
    background-color: blue;
    float: left;
}
#you{
    width: 33.3%;
    height: 88%;
    background-color: goldenrod;
    float: left;
}
#s1{
    width: 33.3%;
    height: 88%;
    background-color: gray;
    float: left;
}
#s2{
    width: 33.3%;
    height: 88%;
    background-color: darkgray;
    float: left;
}
#c1{
    float: left;
    width: 50%;
    height: 88%;
    background-color: chartreuse;
}
#c2{
    float: left;
    width: 50%;
    height: 88%;
    background-color: darkgreen;
}

/* child selector */
#gf>#father{
    background-color: orange;
}
#father>#you{
    background-color: orange;
}

/* decendent Selector */
#gf #c1,#c2{
    background-color: orange;
}

/* adjacentSiblingSelector */
#father+#uncle{
    background-color: orange;
}
/* You can't acces uncle h1 tag using adjacent sibling selector because any thhhing in side a yag works as a child so h1is lika a child of uncle */

/* General sibling selector */
#you~#s2{
    background-color: orange;
}